<h1>id:
<%= @work.id%>の仕事を紹介します!
</h1>
<p>
    
    <%= @work.content %>
    </p>
    <%=link_to '仕事一覧に戻ろう', works_path%>  <br> 
    <%=link_to 'この仕事やっぱ取り消し', @work,method: :delete %> <br>   <%=link_to '仕事の内容変える',edit_work_path %>
    <%= link_to 'このメッセージを削除する', @work, method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %>
<%= link_to 'このメッセージを編集する', edit_work_path(@work) %>

